<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{comment_text}}</p>
  <p>Created by {{user_id}}</p>
  <p>
    <button class="btn btn-primary">add a comment!</button>
  </p>
</div>
{{!-- 
to do: 
add timestamp
add leave comment--}}